<footer>
    <div class="copyright">
      <p>&copy; 2023 Farmacia Kristal. Todos los derechos reservados.</p>
    </div>
    <div class="redes-sociales">
      <a href="https://www.facebook.com/farmaciakristal/?locale=es_LA" target="_blank"><img src="/img/facebook.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/farmaciakristal/?hl=es" target="_blank"><img src="/img/instagram.png" alt="Instagram"></a>
    </div>
  </footer>