<div class="body-system" id="respiratorio">
    <h2>Respiratorio</h2>
    <img src="/img/respiratorio.webp" alt="Sistema Respiratorio" class="system-image">
    <div class="medicamentos" id="antihistaminicos">
      <h3>Antihistamínicos</h3>
      <img src="/img/antihist.webp" alt="Antihistamínico" class="cat-image">
      <p>Los antihistamínicos son medicamentos que tratan las alergias bloqueando la acción de la histamina.</p>
      <ul>
        <li>
          <img src="/img/loratadina.jpg" alt="Loratadina" class="medication-image">
          Loratadina
        </li>
        <li>
          <img src="/img/cetirizina.png" alt="Cetirizina" class="medication-image">
          Cetirizina
        </li>
        <li>
          <img src="/img/fexofenadine-180mg-1.jpg" alt="Fexofenadina" class="medication-image">
          Fexofenadina
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="broncodilatadores">
      <h3>Broncodilatadores</h3>
      <img src="/img/broncodilatadores.png" alt="Broncodilatador" class="cat-image">
      <p>Los broncodilatadores son medicamentos que relajan los músculos bronquiales, facilitando la respiración.</p>
      <ul>
        <li>
          <img src="/img/albuterol.jpg" alt="Albuterol" class="medication-image">
          Albuterol
        </li>
        <li>
          <img src="/img/formoterol.jpg" alt="Formoterol" class="medication-image">
          Formoterol
        </li>
        <li>
          <img src="/img/tiotropio.jpg" alt="Tiotropio" class="medication-image">
          Tiotropio
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="corticosteroides">
      <h3>Corticosteroides</h3>
      <img src="/img/corticos.webp" alt="Corticosteroide" class="cat-image">
      <p>Los corticosteroides inhalados reducen la inflamación en las vías respiratorias.</p>
      <ul>
        <li>
          <img src="/img/flutica.jpg" alt="Fluticasona" class="medication-image">
          Fluticasona
        </li>
        <li>
          <img src="/img/budesonida.jpg" alt="Budesonida" class="medication-image">
          Budesonida
        </li>
        <li>
          <img src="/img/beclometasona.jpg" alt="Beclometasona" class="medication-image">
          Beclometasona
        </li>
      </ul>
    </div>
  </div>

  <div class="body-system" id="cardiovascular">
    <h2>Cardiovascular</h2>
    <img src="/img/cardiovas.jpg" alt="Sistema Cardiovascular" class="system-image">
    <div class="medicamentos" id="antihipertensivos">
      <h3>Antihipertensivos</h3>
      <img src="/img/tensiometro.webp" alt="Antihipertensivo" class="cat-image">
      <p>Los antihipertensivos controlan la presión arterial elevada.</p>
      <ul>
        <li>
          <img src="/img/enalapril.jpeg" alt="Enalapril" class="medication-image">
          Enalapril
        </li>
        <li>
          <img src="/img/amlodipina.png" alt="Amlodipino" class="medication-image">
          Amlodipino
        </li>
        <li>
          <img src="/img/losartan.png" alt="Losartán" class="medication-image">
          Losartán
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="anticoagulantes">
      <h3>Anticoagulantes</h3>
      <img src="/img/anticoagulantes.jpg" alt="Anticoagulante" class="cat-image">
      <p>Los anticoagulantes previenen la formación de coágulos sanguíneos.</p>
      <ul>
        <li>
          <img src="/img/warfarina.jpg" alt="Warfarina" class="medication-image">
          Warfarina
        </li>
        <li>
          <img src="/img/rivaroxaban.webp" alt="Rivaroxabán" class="medication-image">
          Rivaroxabán
        </li>
        <li>
          <img src="/img/apixaban.webp" alt="Apixabán" class="medication-image">
          Apixabán
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="antiarritmicos">
      <h3>Antiarrítmicos</h3>
      <img src="/img/antiarritmicos.webp" alt="Antiarrítmico" class="cat-image">
      <p>Los antiarrítmicos controlan las arritmias cardíacas.</p>
      <ul>
        <li>
          <img src="/img/amiodarona.png" alt="Amiodarona" class="medication-image">
          Amiodarona
        </li>
        <li>
          <img src="/img/propafenona.png" alt="Propafenona" class="medication-image">
          Propafenona
        </li>
        <li>
          <img src="/img/flecainida.png" alt="Flecainida" class="medication-image">
          Flecainida
        </li>
      </ul>
    </div>
  </div>

  <div class="body-system" id="nervioso">
    <h2>Nervioso</h2>
    <img src="/img/cns.avif" alt="Sistema Nervioso" class="system-image">
    <div class="medicamentos" id="analgésicos">
      <h3>Analgésicos</h3>
      <img src="/img/analgesicos.jpg" alt="Analgésico" class="cat-image">
      <p>Los analgésicos alivian el dolor.</p>
      <ul>
        <li>
          <img src="/img/paracetamol.jpg" alt="Paracetamol" class="medication-image">
          Paracetamol
        </li>
        <li>
          <img src="/img/ibuprofeno.jpg" alt="Ibuprofeno" class="medication-image">
          Ibuprofeno
        </li>
        <li>
          <img src="/img/morfina.jpg" alt="Morfina" class="medication-image">
          Morfina
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="anticonvulsivantes">
      <h3>Anticonvulsivantes</h3>
      <img src="/img/anticonvulsantes.jpg" alt="Anticonvulsivante" class="cat-image">
      <p>Los anticonvulsivantes previenen las convulsiones.</p>
      <ul>
        <li>
          <img src="/img/carbamazepina.jpg" alt="Carbamazepina" class="medication-image">
          Carbamazepina
        </li>
        <li>
          <img src="/img/valproato.webp" alt="Valproato" class="medication-image">
          Valproato
        </li>
        <li>
          <img src="/img/lamotrigina.png" alt="Lamotrigina" class="medication-image">
          Lamotrigina
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="antidepresivos">
      <h3>Antidepresivos</h3>
      <img src="/img/antidep.jpeg" alt="Antidepresivo" class="cat-image">
      <p>Los antidepresivos tratan la depresión y otros trastornos del estado de ánimo.</p>
      <ul>
        <li>
          <img src="/img/fluoxe.jpeg" alt="Fluoxetina" class="medication-image">
          Fluoxetina
        </li>
        <li>
          <img src="/img/sertralina.avif" alt="Sertralina" class="medication-image">
          Sertralina
        </li>
        <li>
          <img src="/img/escitalopram.jpg" alt="Escitalopram" class="medication-image">
          Escitalopram
        </li>
      </ul>
    </div>
  </div>

  <div class="body-system" id="linfatico">
    <h2>Linfático</h2>
    <img src="/img/linfaticos.jpg" alt="Sistema Linfático" class="system-image">
    <div class="medicamentos" id="antiinflamatorios">
      <h3>Antiinflamatorios</h3>
      <img src="/img/antiinflamatorios.jpg" alt="Antiinflamatorio" class="cat-image">
      <p>Los antiinflamatorios reducen la inflamación en el sistema linfático.</p>
      <ul>
        <li>
          <img src="/img/ibuprofeno.jpg" alt="Ibuprofeno" class="medication-image">
          Ibuprofeno
        </li>
        <li>
          <img src="/img/naproxeno.jpg" alt="Naproxeno" class="medication-image">
          Naproxeno
        </li>
        <li>
          <img src="/img/indometacina.webp" alt="Indometacina" class="medication-image">
          Indometacina
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="corticosteroides">
      <h3>Corticosteroides</h3>
      <img src="/img/corticos.webp" alt="Corticosteroide" class="cat-image">
      <p>Los corticosteroides controlan la inflamación más severa en el sistema linfático.</p>
      <ul>
        <li>
          <img src="/img/prednisona.jpg" alt="Prednisona" class="medication-image">
          Prednisona
        </li>
        <li>
          <img src="/img/dexa.png" alt="Dexametasona" class="medication-image">
          Dexametasona
        </li>
        <li>
          <img src="/img/metilprednisona.jpg" alt="Metilprednisolona" class="medication-image">
          Metilprednisolona
        </li>
      </ul>
    </div>
    <div class="medicamentos" id="inmunosupresores">
      <h3>inmunosupresores</h3>
      <img src="/img/inmunosupresores.png" alt="Inmunosupresores" class="cat-image">
      <p>Los corticosteroides controlan la inflamación más severa en el sistema linfático.</p>
      <ul>
        <li>
          <img src="/img/ciclosporina.webp" alt="Prednisona" class="medication-image">
          Ciclosporina
        </li>
        <li>
          <img src="/img/azatio.jpg" alt="Azatioprina" class="medication-image">
          Azatioprina
        </li>
        <li>
          <img src="/img/micofenolato.webp" alt="Micofenolato" class="medication-image">
          Micofenolato
        </li>
      </ul>
    </div>
    </div>
    <div class="body-system" id="endocrino">
    <h2>Endocrino</h2>
    <img src="/img/endocrino.jpg" alt="Sistema Endocrino" class="system-image">
    <div class="medicamentos" id="endocrino">
      <h3>Hormonas Tiroideas</h3>
      <img src="/img/tiroideas.webp" alt="Antiinflamatorio" class="cat-image">
      <p>Las hormonas tiroideas regulan el metabolismo.</p>
      <ul>
        <li>
          <img src="/img/levoti.webp" alt="Levotiroxina" class="medication-image">
          Levotiroxina
        </li>
        <li>
          <img src="/img/metimazol.jpg" alt="metimazol" class="medication-image">
          Metimazol
        </li>
        <li>
          <img src="/img/liotironina.webp" alt="Liotironina" class="medication-image">
          Liotironina
        </li>
      </ul>
    </div>
